* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(234, 238, 228, 0.945);
  font-size: 16px;
}

#container {
  width: 90%;
  border: 2px solid purple;
  margin: 20px auto;
}

#heading {
  width: 100%;
  height: 100px;
  background-color: darkcyan;
  text-align: center;
}

#heading ul {
  display: flex;
  margin-top: 25px;
  padding-left: 20px;
}

#heading li {
  list-style-type: none;
  padding: 0 5px 10px 5px;
  font-size: 0.9rem;
}

#heading ul a {
  background-color: darksalmon;
  padding: 5px;
}

#heading ul a:hover {
  background-color: crimson;
}

#main {
  width: 100%;
  height: 400px;
  background-color: darkturquoise;
  display: flex;
}

aside {
  width: 20%;
  height: 400px;
  background-color: darkturquoise;
}

#section {
  width: 80%;
  height: 400px;
  background-color: rgb(152, 230, 230);
}

#footer {
  width: 100%;
  height: 70px;
  background-color: darkgray;
}
